.header-container{
    display:flex;
    background-color: #000;
    color:white;
    padding:0;
    font-weight: 700;
    font-size: 1.9em;
    justify-content: space-between;

}
.heading-quizzy{
    margin:1em 1em 1em 1em;
}
.heading-username{
  margin-right: 1em;
}