.Scores{
    border: 2px solid black;
    width:80vh;
    margin: 2.5vh;
    justify-content: space-between;
    display: flex;
    flex-direction:row;
    background-color: #45c7f5;
}
.Scores-number{
    margin: 1vh;
    font-size:1.3em;
    font-weight: 600;
}
.Scores-username{
    margin:0;
    font-size:1.2em;
}
.Scores-score{
    margin:1.2vh;
    font-size:1.4em;
    font-weight: 400;
    color:white;
}